@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>这是一个Id4 服务 统一身份认证中心</p>

    <p> <a href="https://www.yogihosting.com/identityserver-aspnet-core-identity-mongodb-database/#apiscopes">博客教程地址 </a>.</p>
</div>
